/*------------ Global Styles --------*/
html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
body {
  color: #2f4858;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}
header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
}

img {
  width: 500px;
  max-width: 100%;
  padding-bottom: 40px;
}
h1 {
  font-size: 40px;
  line-height: 1;
  text-align: center;
}
h3 {
  font-size: 20px;
}
.content-wrap {
  max-width: 100%;
  padding-right: 30px;
  text-align: center;
}
.design-style,
.design-room {
  text-align: center;
  margin: 0 auto;
}

/*------------ Nav. menu --------*/
#header-img {
  max-width: 200px;
  margin: 0;
  padding: 0;
}

.menu {
  list-style-type: none;
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.menu li a {
  text-decoration: none;
  color: #ffffff;
  background-color: #845a6d;
  padding: 10px;
  border-radius: 5px;
}
.menu li a:hover {
  background-color: #2e6171;
  text-decoration: none;
}
.header-img {
  width: 100%;
}

@media (max-width: 800px) {
  .menu,
  .logo {
    justify-content: center;
    display: grid;
    position: relative;
  }
  #header-img {
    margin-bottom: 25px;
  }
  li {
    padding: 15px 15px;
  }
  p {
    overflow: auto;
  }
  .how-it-works > iframe {
    max-width: 560px;
    width: 100%;
  }
  .content-wrap {
    display: flex;
    text-align: center;
    justify-content: space-between;
    border: none;
  }
  
  .header-img {
    margin-top: 15%;
    display: none;
  }
  header {
    background-color: transparent;
    display: contents;
  }
  .design-style,
  .design-room {
    text-align: left;
    margin: 0 auto;
  }
}
/*------------ How it works --------*/

.how-it-works {
  display: grid;
  grid-template-columns: repeat(1, 500px);
  justify-content: center;
  max-width: 100%;
}
.submit-button {
  color: #ffffff;
  background-color: #845a6d;
  padding: 10px;
  border-radius: 6px;
  border-style: none;
 width: 20%;
}
.submit-button:hover {
  background-color: #2e6171;
}

/*------------ Pricing --------*/
#pricing {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 60px;
  margin-bottom: 90px;
}

#pricing ol {
  list-style: none;
}
.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: calc(80%/3);
  border: 1px solid black;
  border-radius: 3px;
  margin: 20px;
}
#pricing p {
padding: 0 60px;
}
.level {
  background-color: #ddd;
  font-weight: 700;
  width: 100%;
  padding: 15px 0;
}
ol > li{
 margin-right: 25px;
}
 
.btn {
  color: #ffffff;
  background-color: #845a6d;
  padding: 10px;
  border-radius: 6px;
  border-style: none;
  margin: 15px 0;
  width: 30%;
}

.btn:hover {
  background-color: #2e6171;
}
/*------------ Design --------*/
.design-room,
.design-style {
  margin: 35px 25px;
padding: 0 20%;
  height: 200px;
  width: 100%;
}
.design-room {
  line-height: 1.8;
}
.design-style {
  line-height: 1.8;
}

/*------------ Contact --------*/
#sub {
  display: flex;
  flex-direction: column;
  text-align: center;
}

#sub > h2 {
  margin-bottom: 20px;
  margin-top: 5%;
}

#sub input[type="email"] {
  max-width: 275px;
  width: 100%;
  margin-bottom: 5%;
  margin-right: 5%;
  padding: 10px;
}
ul .list {
  text-decoration: none;
}
footer .list {
  list-style-type: none;
  justify-content: space-around;
  display: flex;
}
